# Byte-code files
*.pyc
__pycache__/

# Distribution / packaging
.Python
.conda
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors and IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
